* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.grid {
    height: 90vh;
    display: grid;
    grid-auto-rows: repeat(3,1fr);
    grid-auto-columns: repeat(4,1fr);
    grid-gap: 1%;
    margin: 1vh 1vw;
}
.box {
    border-radius: 30px;
    height: 100%;
}
.item1 {
    background: red;
    grid-column: 1 / span 4;
}
.item2 {
    background: blue;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}
.item3 {
    background: green;
    grid-column: 3 / span 2;
    grid-row: 2;
}
.item4 {
    background: purple;
    grid-column: 3;
    grid-row: 3;
}
.item5 {
    background: purple;
    grid-column: 4;
    grid-row: 3;
}