.disappearingBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
}
.innerDiv {
    height: 100px;
    width: 100px;
    background-color: yellow;
}