@font-face {
    font-family: myGothamFont;
    src: url(../font/1746-font.woff);
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: myGothamFont;
}
*::-webkit-scrollbar {
    display: none;;
}
#main-canvas {
    background: url('../img/M3-Hero-LHD-US-D.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
#main-canvas-2 {
    background: url('../img/model_3_safety_hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#main-canvas-3 {
    height: 100vh;
}
#main-canvas-3 a {
    color: black;
}
#main-canvas-3 .background {
    background: url('../img/lhd-performance-hero-desktop.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 73.5vh;
}
header {
    width: 99vw;
    height: 54px;
    position: sticky;
}
.tesla-logo-div {
    position: fixed;
}
.tesla-logo-div-black {
    position: absolute;
    height: 100px;
}
a {
    text-decoration: none;
    color: white;
}
ol {
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.tesla-logo-div {
    float: left;
    /* height: 2vh; */
    height: 100px;
    /* width: 10vw; */
    width: 150px;
    padding-left: 20px;
    margin: 2px 15px;
}
.tesla-logo-div-black {
    float: left;
    /* height: 2vh; */
    height: 100px;
    /* width: 10vw; */
    width: 150px;
    padding-left: 20px;
    margin: 2px 15px;
}
.side-menu-div {
    position: absolute;
    top:0;
    right:0;
    width: 311px;
    padding-right: 20px;
    margin: 10px auto;
    z-index: 100;
}
.side-menu-div ol li {
    padding: 10px 10px;
    margin: 10px 10px;
    display: inline;
    text-align: center;  
    font-size: 14px;
}
.side-menu-div a:hover {
    border-radius: 2px;
    background: #656971;
}
.car-selection-div {
    margin: 0px auto;
    align-content: center;
    width: 39vw;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}
.car-selection-div ol {
    padding-top: 10px;
}
.car-selection-div ol li {
    padding: 10px 10px;
    margin: 10px 10px;
    display: inline;
    text-align: center;
}
.car-selection-div a:hover {
    border-radius: 2px;
    background: #656971;
}
header .clr {
    clear: both;
}

#main-canvas .carTitle {
    margin: 80px auto;
    /* display:inline-block; */
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: white;
}
#main-canvas .carText {
    align-content: center;
    margin: auto auto;
    margin-top: 10px;
    margin-bottom: 550px;
}
.carStats {
    display: flex;
    align-content: center;
    margin: auto auto;
    width: 38vw;
}
.carStats div{
    flex: 1;
    text-align: center;
    align-content: center;
    margin: 10px 1px;
    color: #FCFCFC;
}
.topText {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.bottomText {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.preorderBtn {
    padding: 7px 30px;
    border: 3px white solid;
    border-radius: 20px;
    font-size: 12px;
}
.preorderBtn:hover {
    background: #FCFCFC;
    color: black;
}
.preorderBtnDiv {
    padding-top: 30px;
}
.sectionMenu {
    position: fixed;
    top: 50%;
    left: 1%;
    font-size: 25px;
    z-index: 2;
}
.sectionMenu div {
    display: none;
    font-size: 10px;
}
.sectionMenu a:hover + .textAfter{
    display: inline;
}
.arrowBtn {
    margin: 0px auto;
    width: 99%;
}
#canvas2-info {
    color: #181B21;
    padding-top: 40px;
    padding-left: 45px;
    background: white;
    width: 415px;
    height: 100vh;
}
#safetyP {
    padding-top: 10px;
    line-height: 21px;
    width: 18vw;
    font-size: 14px;
}
#safetyRating {
    margin-top: 30px;
    margin-left: 10px;
    background: #E1E4E4;
    border-radius: 30px;
    height: 310px;
    width: 310px;
}
#safetyTopText {
    padding: 30px 30px;
    text-align: center;
    font-size: 20px;
}
#flexRatings {
    display: flex;
    margin: 0px auto;
    padding-left: 20px;
}
#flexRatings div {
    flex: 1;
    text-align: left;
    align-content: left;
}
#flexRatings .subRatingsTopText {
    font-size: 14px;
    margin-bottom: 5px;
}
#flexRatings .subRatingsBottomText {
    font-size: 8px;
    margin-bottom: 10px;
}
#ratingStars {
    font-size: 17px;
}
.stars {
    padding-left: 25px;
    margin-bottom: 17px;
}
#botTextDiv {
    display: flex;
    margin: 0px auto;
    margin-top: 50px;
    width: 50vw;
}
#botTextDiv div {
    /* flex: 1; */
    text-align: left;
    align-content: left;
}
#leftDiv {
    width: 80vw;
}
.preorderBtn2 {
    margin-left: 5px;
    padding: 7px 30px;
    border: 3px black solid;
    border-radius: 20px;
    font-size: 12px;
}
#main-canvas-3 .preorderBtn2:hover {
    background: #000000;
    color: white;
}
.plusLearnMore {
    border: 3px black solid;
    border-radius: 20px;
    text-align: center;
    padding-top: 6px;
    padding-left: 4px;
}
#main-canvas-3 .plusLearnMore:hover {
    background: #000000;
    color: white;
}
#textContainer {
    color: white;
    display: flex;
    align-content: center;
    margin: auto auto;
    padding-top: 58vh;
    width: 50vw;
    font-size: 12px;
}
#textContainer .spanDiv {
    margin-right: 50px;
}
#textContainer .bottomText{
    margin: 10px auto;
}