* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ecf0f1;
}
#pageContainer {
    margin-top: 4vh;
    position: absolute;
    z-index: 1;
    height: 96vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #ecf0f1;
    align-items: center;
    font-size: 20px;
}
#header {
    text-align: center;
}
#gameContainer {
    margin-top: 1vh;
    height: 70vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    background-color: #CCCCCC;
}
#cardsFlex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#gameControls {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}
.card {
    height: 20vh;
    width: 14vw;
    background-image: url('../img/white.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
@media only screen and (max-width: 900px) {
    .card {
        height: 10vh;
        width: 30vw;
    }
}