* {
    margin: 0 0;
    padding: 0 0;
}
.textDiv {
    background: grey;
    display: inline-block;
    width: 24%;
}

@media(max-width: 768px) {
    .textDiv {
        display: block;
        margin: 1px auto;
    }
}